body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.nav-bar {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
  padding: 2px;
  margin-left: 12px;
}

.logo {
  width: 55px;
}